{% extends "base.html" %} {%block content%}
<div class="container w-50 mt-5 mb-5">
  <form action='/process' method="POST" class="row g-3 bg-dark text-light p-3">
    {% with messages = get_flashed_messages(category_filter=['register']) %}
      <!-- declare a variable called messages -->
      {% if messages %}
      <!-- check if there are any messages -->
      {% for message in messages %}
      <!-- loop through the messages -->
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <small class="text-danger">{{message}}</small>
        <!-- display each message in a paragraph tag -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      {% endfor %} {% endif %} {% endwith %}
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Full Names</label>
      <input type="text" name='name' class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" name='email' class="form-control" id="inputPassword4" />
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Date of Birth</label>
      <input type="date" name='dob' class="form-control" id="inputPassword4" />
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" name='password' class="form-control" id="inputPassword4" />
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Confirm Password</label>
      <input type="password" name='confirm_pw' class="form-control" id="inputPassword4" />
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"> Check me out </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Register</button>
    </div>
    <div>
        <small>Already have account</small>
        <a href="{{url_for('login')}}">Login</a>
    </div>
  </form>
</div>
{%endblock%}
